In [1]:
import pandas as pd
import numpy as np

In [3]:
Rock = pd.read_csv('Rock.csv')
Country = pd.read_csv('Country.csv').drop(columns = ['Unnamed: 0','Song'])
Rap = pd.read_csv('Rap.csv')

In [4]:
Rock

      Artist Genre                                             Lyrics
0      AC/DC  Rock  Back in black, I hit the sack I've been too lo...
1      AC/DC  Rock  Oi! Oi! Oi! Oi! Oi! Oi! Oi! Oi! Oi! Oi! Oi! Oi...
2      AC/DC  Rock  Living easy, lovin' free Season ticket on a on...
3      AC/DC  Rock  Thunder, ah Thunder, ah Thunder, ah Thunder, a...
4      AC/DC  Rock  She was a fast machine, she kept her motor cle...
...      ...   ...                                                ...
3295  ZZ Top  Rock  Did you ever hear the story That happened not ...
3296  ZZ Top  Rock  Hello darling, surprised? Yes, it's me again I...
3297  ZZ Top  Rock  Now, I just got back from baby's We've been ro...
3298  ZZ Top  Rock  When I hear that Santa Fe start blowing I wond...
3299  ZZ Top  Rock  Rain fell this mornin', make me feel so bad On...

[3300 rows x 3 columns]

In [5]:
Country

,Artist,Genre,Lyrics
0,Morgan Wallen,Country,"Yeah, you used to talk about Getting even furt..."
1,Morgan Wallen,Country,A 'Bama red 4Runner pulled into the party With...
2,Morgan Wallen,Country,(Lyrics From Snippet) I met her down at Aldean...
3,Morgan Wallen,Country,"The way I talk, I guess I got it from my pops ..."
4,Morgan Wallen,Country,"It's Friday after 5, got here just in time Wen..."
...,...,...,...
1239,Justin Moore,Country,That water tower's got the sun going down behi...
1240,Justin Moore,Country,You stood on that bank when I got baptized Gav...
1241,Justin Moore,Country,Got my phone on airplane mode You couldn't rea...
1242,Justin Moore,Country,You got your million bucks You got your flashy...
1243,Justin Moore,Country,I know you scared of that cock-a-doodle-do Don...

In [6]:
Rap

,Unnamed: 0,Artist,Genre,Lyrics
0,0,Kendrick Lamar,Rap,Nobody pray for me It been that day for me Way...
1,1,Kendrick Lamar,Rap,If Pirus and Crips all got along They'd probab...
2,2,Kendrick Lamar,Rap,"Pour up (Drank), head shot (Drank) Sit down (D..."
3,3,Kendrick Lamar,Rap,"I got, I got, I got, I got— Loyalty, got royal..."
4,4,Kendrick Lamar,Rap,"Uh, me and my niggas tryna get it, ya bish (Ya..."
...,...,...,...,...
2645,2645,Cardi B.,Rap,"They out here looking for revenge All day, all..."
2646,2646,Cardi B.,Rap,Cardi I got that sauce and that water Set the...
2647,2647,Cardi B.,Rap,Lyrics from Snippet Pull up in some shit that'...
2648,2648,Cardi B.,Rap,Lyrics from Snippets Don’t get offended by ru...
2649,2649,Cardi B.,Rap,Un adiós sin razones Unos años sin valor Bardi...

In [7]:
lyrics = Rock.append(Country, ignore_index = True).append(Rap, ignore_index = True)
lyrics.to_csv('lyrics.csv', index = False)

In [8]:
lyrics.Genre.value_counts()

Rock       3300
Rap        2650
Country    1244
Name: Genre, dtype: int64